PYTHON_VERSION=3.14
IMAGE_TAG=dev
API_PORT=8000
FRONT_PORT=8080
OPENAI_API_KEY=coloque_sua_chave_aqui
HOST_DUCKDB_PATH=./data
CORS_ALLOW_ORIGINS=http://localhost:8080,http://127.0.0.1:8080,http://localhost:8000,http://127.0.0.1:8000
UVICORN_WORKERS=1
