PYTHON_VERSION=3.14
IMAGE_TAG=homolog
API_PORT=8001
FRONT_PORT=8081
OPENAI_API_KEY=coloque_sua_chave_aqui
HOST_DUCKDB_PATH=./data
CORS_ALLOW_ORIGINS=http://localhost:8081,http://127.0.0.1:8081
UVICORN_WORKERS=1
